<div class="p-4">

  <h1>Bem vindo a página do MDS</h1>

  <div class="info">
    <p>Bem-vindo à nossa página!</p>
    <p>Aqui, você encontrará informações detalhadas sobre nossas experiências e projetos relacionados ao desenvolvimento
      de software.</p>
    <p>Nosso objetivo é compartilhar nossas ideias e conhecimentos para ajudá-lo a entender melhor o mundo da
      programação e a aprimorar suas habilidades na área.</p>
    <p>Explore nosso conteúdo e sinta-se à vontade para entrar em contato conosco se tiver alguma dúvida ou
      sugestão.</p>
  </div>

  <div class="cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Compilação de notas sobre diversos assuntos</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button onclick="window.location('https://github.com/mdssjc/mds-notes')">
          ACESSAR
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Github</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Repositórios dos estudos e projetos</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button onclick="window.location('https://github.com/mdssjc')">ACESSAR</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dojo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Em breve...</p>
        <p>GraphQL</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Projetos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            🔥
            <a href="https://github.com/mdssjc/mds" class="">Livro (nova atualização 30/06/2023)</a>
          </li>
          <li>
            <a href="/projects/oblique-strategies" class="">Oblique Strategies</a>
          </li>
          <li><a href="/" class="">Pomodoro (Em breve)</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
