.logotipo
  margin-right: 0.5rem

mat-sidenav-container
  height: calc(100vh - 64px)
  @media(max-width: 599px)
    height: calc(100vh - 56px)

mat-nav-list
  a
    margin: 0
    padding: 0 2rem
    span
      margin-left: 1rem
      vertical-align: super

footer
  margin: auto
  height: 40px
  width: 90%
  color: #212121
  border-top: solid 1px #999999
  text-align: center
  font-size: x-small
