.base-container
  top: 64px !important

@media(max-width: 599px)
  .base-container
    top: 56px !important

.logotipo
  margin-right: 0.5rem

footer
  margin-top: 2rem
  height: 40px
  color: #212121
  text-align: center
  font-size: x-small
  font-weight: bold
  hr
    margin: auto
    width: 90%
