<mat-toolbar color="primary">
  <button mat-flat-button color="primary" (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
  </button>

  <img
    class="logotipo"
    ngSrc="./assets/images/logo.svg"
    alt="Logotipo do MDS Page"
    width="24"
    height="24"
  />
  <span>MDS PAGE</span>
</mat-toolbar>

<mat-sidenav-container class="base-container" fullscreen (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/"><mat-icon>home</mat-icon>Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button onclick="window.open('https://github.com/mdssjc/mds-notes')">
          <mat-icon>description</mat-icon>Notes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button onclick="window.open('https://github.com/mdssjc/mds')">
          <mat-icon>menu_book</mat-icon>Book
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button onclick="window.open('https://github.com/mdssjc')">
          <mat-icon>inventory_2</mat-icon>Github
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/about"><mat-icon>about</mat-icon>About</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <footer>
      <hr />
      Developed by Marcelo dos Santos :: 2023-2021
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
