@import '../node_modules/bootstrap/scss/bootstrap'

html, body
  height: 100%

body
  display: flex
  flex-direction: column

.bg-mds
  background: #1A237E

.content
  flex: 1 0 auto

footer
  height: 40px
  color: grey
  text-align: center
  font-size: small
  font-weight: bold
  hr
    margin: auto
    width: 90%
