<div class="p-4">

  <mat-card>
    <mat-card-content>
      <h1>Bem-vindo à nossa página!</h1>
      <p>
        Aqui, você encontrará informações detalhadas sobre nossas experiências e projetos relacionados
        ao desenvolvimento de software.
      </p>
      <p>
        Nosso objetivo é compartilhar nossas ideias e conhecimentos para ajudá-lo a entender melhor o
        mundo da programação e a aprimorar suas habilidades na área.
      </p>
      <p>
        Explore nosso conteúdo e sinta-se à vontade para entrar em contato conosco se tiver alguma
        dúvida ou sugestão.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Compilação de notas sobre diversos assuntos</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="primary" href="https://github.com/mdssjc/mds-notes" target="_blank">ACESSAR</a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Github</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Repositórios dos estudos e projetos</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="primary" href="https://github.com/mdssjc" target="_blank">ACESSAR</a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Labs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Em breve...</p>
        <ul>
          <li>Java Frameworks</li>
          <li>Advent of Code</li>
          <li>GraphQL</li>
          <li>Patterns</li>
          <li>Algorithms</li>
          <li>Functional Programming</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Projetos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            🔥
            <a href="https://github.com/mdssjc/mds">Livro (nova atualização 31/01/2024)</a>
          </li>
          <li>
            <a routerLink="/projects/oblique-strategies">Oblique Strategies</a>
          </li>
          <li><a href="/">Pomodoro (Em breve)</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
