<div class="p-4">
  <h1>Quem sou eu?</h1>

  <div class="rounded border border-solid border-neutral-400 bg-neutral-200 my-4 p-4">
    <p>Eu sou o Marcelo dos Santos.</p>
    <p>
      Resolvo problemas lógicos utilizando tecnologias como Java/Kotlin, Dart, Rust e TypeScript,
      assim como possuo interesses em Blockchain, Programming Languages e Creative Coding.
    </p>
    <p>
      Atualmente trabalho com desenvolvimento em aplicações WEB e microserviços em Java (Spring
      Boot) e TypeScript (Angular); e aplicações mobile em Dart (Flutter) para os projetos pessoais.
    </p>
  </div>

  <div class="rounded border border-solid border-neutral-400 bg-neutral-200 my-4 p-4">
    <ul>
      <li>
        Estudos: Blockchain, Programming Languages (PLT, paradigms, patterns, algorithms, etc) e
        Creative Coding
      </li>
      <li>Principais: Java (Spring Boot 2 e 3) e Kotlin</li>
      <li>Secundárias: Dart, Ruby, Rust e TypeScript</li>
      <li>Acadêmicas: Haskell and Racket</li>
    </ul>
  </div>

  <div class="rounded border border-solid border-neutral-400 bg-neutral-200 my-4 p-4">
    <p>Em breve: setup para desenvolvimento</p>
  </div>
</div>
